body {
	background-color: black;
}

.main {

	background-color: white;
	margin-left: 200px;
	margin-right: 200px;
	height: 950px;
}

.background {
	
}

.foreground {
	
}

.board {
  background: lightblue;

}